<ion-header>
  <ion-toolbar>
    <ion-title>Retraites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ret of retirements;">
    <ion-card-header>
      <ion-card-title>{{ret.name}}</ion-card-title>
      <ion-card-subtitle>{{ret.firstDay}} - {{ret.lastDay}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        {{ret.desc}}
      </ion-text>
      <ion-button href="">
        Participants
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
