<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Retraites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle>
    <ion-searchbar placeholder="Rechercher"></ion-searchbar>
  </ion-card-subtitle>
  <ion-card *ngFor="let ret of retirements;">
    <ion-item>
      <ion-card-header>
          <ion-card-title>{{ret.name}}</ion-card-title>
          <ion-card-subtitle>{{ret.first_day}} - {{ret.last_day}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button routerLink="{{ret.id}}" routerDirection="forward" fill="outline" slot="end">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-text>
        {{ret.description}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
