<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Participation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-sub" *ngIf="sub && sub.identity && sub.retreat; else elseBlock">
  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-title>Participation de {{sub.identity.first_name}} {{sub.identity.last_name}}</ion-card-title>
        <ion-card-subtitle> à la retraite {{sub.retreat.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button [class]="(sub.payments) ? 'paid' : 'unpaid'" fill="outline" slot="end">
        <ion-icon name="checkmark" *ngIf="sub.payments; else unpaid"></ion-icon>
        <ng-template #unpaid><ion-icon name="close"></ion-icon></ng-template>
        Paiement
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-card class="ion-margin-vertical">
        <ion-card-header>
          <ion-card-title>Dossier du participant</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-label>Addresse</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.address" [(ngModel)]="formData.identity.address"></ion-input>
            </ion-item>
            <ion-label>Code postal</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.zipcode" [(ngModel)]="formData.identity.zipcode"></ion-input>
            </ion-item>
            <ion-label>Ville</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.city" [(ngModel)]="formData.identity.city"></ion-input>
            </ion-item>
            <ion-label>Pays</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.country" [(ngModel)]="formData.identity.country"></ion-input>
            </ion-item>
            <ion-label>Numéro de téléphone</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.phone" [(ngModel)]="formData.identity.phone"></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-margin-vertical">
        <ion-card-header>
          <ion-card-title>En cas d'urgence</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-label>Personne à contacter</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.emergency_person_to_call" [(ngModel)]="formData.identity.emergency_person_to_call"></ion-input>
            </ion-item>
            <ion-label>Médecin traitant</ion-label>
            <ion-item>
              <ion-input [placeholder]="sub.identity.emergency_medical_care" [(ngModel)]="formData.identity.emergency_medical_care"></ion-input>
            </ion-item>
            <ion-label position="floating">Allergies</ion-label>
            <ion-item>
              <ion-textarea [placeholder]="sub.identity.emergency_known_allergy" [(ngModel)]="formData.identity.emergency_known_allergy"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-margin-vertical" *ngIf="sub.notes">
        <ion-item>
          <ion-card-header>
            <ion-card-title>Note(s) concernant la participation</ion-card-title>
          </ion-card-header>
          <ion-button fill="outline" slot="end">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-card-content *ngFor="let note of sub.notes; index as i;">
            <ion-label position="floating">Note n°{{i + 1}}</ion-label>
            <ion-item>
              <ion-input [placeholder]="note.title" [(ngModel)]="formData.notes[i].title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea [placeholder]="note.content" [(ngModel)]="formData.notes[i].content"></ion-textarea>
            </ion-item>
        </ion-card-content>
      </ion-card>

      <div class="ion-padding">
        <ion-button expand="block" (click)="handleModifyClick();" class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
          <ion-icon name="create"></ion-icon>
          Modifier
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>